WTForms~=3.1.2
Flask~=3.0.3
Flask-Login~=0.6.3
itsdangerous~=2.2.0
Werkzeug~=3.0.6
SQLAlchemy~=2.0.36
APScheduler~=3.10.4
flask-talisman~=1.1.0
Flask-Limiter~=3.8.0
self~=2020.12.3
pillow~=11.0.0
app~=0.0.1
blinker~=1.9.0
click~=8.1.8
concurrent-log-handler~=0.9.25
decorator~=5.1.1
Deprecated~=1.2.15
Flask-SQLAlchemy~=3.1.1
Flask-WTF~=1.2.2
greenlet~=3.1.1
Jinja2~=3.1.5
limits~=4.0.0
markdown-it-py~=3.0.0
MarkupSafe~=3.0.2
mdurl~=0.1.2
ordered-set~=4.1.0
packaging~=24.2
pip~=25.0
portalocker~=3.1.1
Pygments~=2.19.1
PyMySQL~=1.1.1
rich~=13.9.4
six~=1.17.0
typing_extensions~=4.12.2
tzlocal~=5.2
wrapt~=1.17.0
Flask-Migrate~=4.0.7
gunicorn
gevent