{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Ticket Details</h1>
        <span class="badge bg-info text-dark">{{ ticket.status.status }}</span>
    </div>
    {% if ticket_type == 'problem' %}
    <p><strong>Name:</strong> {{ ticket.first_name }} {{ ticket.last_name }}</p>
    <p><strong>Beschreibung:</strong> {{ ticket.problem_description }}</p>
    {% elif ticket_type == 'training' %}
    <p><strong>Lehrer:</strong> {{ ticket.class_teacher }}</p>
    <p><strong>Trainingstyp:</strong> {{ ticket.training_type }}</p>
    <p><strong>Grund:</strong> {{ ticket.training_reason }}</p>
    <p><strong>Vorgeschlagenes Datum:</strong> {{ ticket.proposed_date }}</p>
    {% elif ticket_type == 'misc' %}
    <p><strong>Name:</strong> {{ ticket.first_name }} {{ ticket.last_name }}</p>
    <p><strong>Nachricht:</strong> {{ ticket.message }}</p>
    {% elif ticket_type == 'medienberatung' %}
    <p><strong>Name:</strong> {{ ticket.first_name }} {{ ticket.last_name }}</p>
    <p><strong>Email:</strong> {{ ticket.email }}</p>
    <p><strong>Klasse:</strong> {{ ticket.class_name }}</p>
    <p><strong>Thema:</strong> {{ ticket.topic }}</p>
    <p><strong>Beschreibung:</strong> {{ ticket.description }}</p>
    {% if ticket.proposed_date %}
    <p><strong>Terminvorschlag:</strong> {{ ticket.proposed_date }}</p>
    {% endif %}
    {% endif %}

    <div class="card mt-4 p-3">
        <h2 class="card-title">Verlauf</h2>
        <ul class="list-group">
            {% for entry in ticket_history %}
                <li class="list-group-item">
                    <p><strong>{{ entry.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</strong> - {{ entry.author_type }}</p>
                    <p>{{ entry.message }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if ticket.status_id != 4 %}
        {% set response_form_action = url_for('main.view_ticket', token=token) %}
        {% set response_submit_label = 'Antwort senden' %}
        {% include 'tickets/partials/response_form.html' %}
    {% else %}
        <div class="card mt-4 p-3">
            <p>Das Ticket ist geschlossen. Bitte öffnen Sie ein neues Ticket, wenn Sie weitere Probleme haben.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
